<!-- BEGIN - How To Section  -->
<section id="ID_HOWTO">
<div class="edy-video-area edy-section-gap bg-color-darker">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="inner pr--50 pr_md--0 pr_sm--0">
                    <div class="section-title text-start">
                        <span class="subtitle text-white">
                            How to use Eddie
                        </span>
                        <h2 class="title color-white">
                            Try Eddie risk-free with our 30-day money back guarantee and free size replacements. 
                        </h2>
                        <p class="description-pdp mt--30 text-white">
                            Place Eddie at the base of the shaft with the open end facing down, whether you’re soft or hard. 
                            When the sizing is correct, Eddie should feel tight but not uncomfortable—like a firm handshake. 
                            Attach your choice of compression band—blue for a looser fit, red for a tighter one. If Eddie is 
                            too loose, it will not work. Start improving your love life today. 
                        </p>
                        <ul class="split-list sal-animate" data-sal="slide-up" data-sal-duration="400" data-sal-delay="350">
                            <li class="text-white"> Made in the USA from medical-grade materials. Latex &amp; PVC-Free.</li>
                            <li class="text-white"> See Eddie’s sizing information below to get the best fit.</li>
                            <li class="text-white"> Box includes: A ready-to-use Eddie device, two sets of blue and red compression bands 
                                and our ED guide to help you get started.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="video-popup-wrapper">
                    <img class="w-100 edy-radius" src="https://cdn.shopify.com/s/files/1/0834/1926/7394/files/eddie_couple1.jpg?v=1732212235" alt="Loving couple showing how to use Eddie.">
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- END - How To Section -->

<section id="fact-table" class="edy-events-area bg-color-white">
  <div class="container">
      <div class="row g-5 align-items-center">
    	<div class="col-lg-10 offset-lg-1" data-sal="fade-in" data-sal-duration="1500" data-sal-delay="1000" data-sal-easing="ease-out-elastic">
    		<div class="content">										
    			<div class="inner text-center">
    				<h2 class="title-devices">{{ section.settings.size_guide_heading }}</h2>
  					<p class="description-howworks mb-5 pb-5">
    					{{ section.settings.size_guide_description }}
					</p>
				</div>
			</div>
		</div>
      </div>
      <div class="row">
          <div class="col-6 product_size_table">
              <div>
                  <div class="container">
                      <div class="row g-5">
                          <div class="table-responsive">
                              <table class="edy-table">
                                  <thead>
                                      <tr class="first-row row-size penis_size_table">												
                                          <th scope="col">{{ section.settings.penis_table_heading }}</th>
                                          <th>
                                             <div class="btn-group btn-toggle"> 
                                                <button class="btn btn-default">CM</button>
                                                <button class="btn btn-primary active">IN</button>
                                            </div>
                                          </th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td class="" data-cm="0 - 9.2 cm" data-in="0 - 3⁵⁄₈">0 - 3⁵⁄₈"</td>
                                          <td class="">A - NARROW WIDTH</td>
                                      </tr>
                                      <tr>
                                          <td class="" data-cm="9.3 - 9.8 cm" data-in="3¹¹⁄₁₆ - 3⁷⁄₈">3¹¹⁄₁₆ - 3⁷⁄₈"</td>
                                          <td class="">B - REGULAR WIDTH</td>
                                      </tr>
                                      <tr>												
                                          <td class="" data-cm="9.9 - 10.4 cm" data-in="3¹⁵⁄₁₆ - 4³⁄₁₆">3¹⁵⁄₁₆ - 4³⁄₁₆"</td>
                                          <td class="">C - WIDE WIDTH</td>
                                      </tr>
                                      <tr>												
                                          <td class="" data-cm="10.5 cm +" data-in="4¹⁄₄ +">4¹⁄₄" +</td>
                                          <td class="">D - EXTRA WIDE WIDTH</td>
                                      </tr>
                                  </tbody>
                              </table>
                              <p class="font-footnote mb-5 pb-5">
                                  *Measured when flaccid. Picking a size based on measurement is the best way to ensure good fit.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        
          <div class="col-6 product_size_table">
              <div>
                  <div class="container">
                      <div class="row g-5">
                          <div class="table-responsive">
                              <table class="edy-table">
                                <thead>
                                      <tr class="first-row row-size condom_size_table">												
                                          <th scope="col">{{ section.settings.condom_table_heading }}</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td class="">S</td>
                                          <td class="">A - NARROW WIDTH</td>
                                      </tr>
                                      <tr>
                                          <td class="">M</td>
                                          <td class="">B - REGULAR WIDTH</td>
                                      </tr>
                                      <tr>												
                                          <td class="">L/XL</td>
                                          <td class="">C - WIDE WIDTH</td>
                                      </tr>
                                      <tr>												
                                          <td class="">XXL</td>
                                          <td class="">D - EXTRA WIDE WIDTH</td>
                                      </tr>
                                  </tbody>
                              </table>
                              <p class="font-footnote mb-5 pb-5">
                                 **The vast majority of men fit within A, B, or C.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

{% schema %}
  {
    "name": "Product Size Table",
    "settings": [
      {
        "type": "header",
        "content": "Size Guide Content"
      },
      {
        "type": "text",
        "id": "size_guide_heading",
        "label": "Size guide Heading",
        "default": "SIZE GUIDE"
      },
      {
        "type": "html",
        "id": "size_guide_description",
        "label": "Size guide Description",
        "default": "Eddie is available in four sizes (A, B, C, D) based on girth or circumference, which fit 99% of men. If you decide you need a different size, we’ll ship a replacement free of charge."
      },
      {
        "type": "header",
        "content": "Size Table Content"
      },
      {
        "type": "text",
        "id": "penis_table_heading",
        "label": "Penis Table Heading",
        "default": "PENIS CIRCUMFERENCE*"
      },
      {
        "type": "text",
        "id": "condom_table_heading",
        "label": "Condom Table Heading",
        "default": "CONDOM SIZE**"
      }
    ],
    "presets": [{
      "name": "Product Size Table",
      "category": "Product"
    }]
  }
{% endschema %}