<!-- BEGIN - SECTION No Conditions  -->
<section id="id_offer_conditions_none" class="edy-events-area edy-section-gap bg-color-tanwhite id_offer_conditions_none">
    <div class="container">
        <div class="row">
            <div class="col-12">			
                <div class="container">
                    <div class="row g-5 align-items-center mb--60">
                        <div class="col-lg-12">
                            <div class="row bsg-5">										
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt_md--30 mt_sm--30 xpr--50"> 
                                    <h1 class="title-devices d-none d-sm-block">Good news.<br>Eddie is right for you.</h1>																				
                                    <p class="para-40-book"> 
                                        We'd like to offer you a <b>$20 credit</b> toward the purchase of an Eddie device, a safe, wearable FDA class II medical device that can help you improve your sexual performance. 											
                                    </p>
                                    <p class="para-40-book"> 												
                                        To receive it, simply enter your email address below.
                                    </p>
                                    <div id="ID_ERROR_MSGBOX1" class="alert alert-danger" role="alert" style="display:none;">
                                        <strong>ERROR: </strong> 
                                    </div>												
                                    <div id="ID_OK_MSGBOX1" class="alert alert-success" role="alert" style="display:none;">
                                        <strong>SUCCESS: </strong> 
                                    </div>			
                                    <label id="email-error" class="error" for="email" style="display: none;"></label>									
                                    <form action="#" class="edy-search-style-dk me-0" id="quiz-offer-form1" name="quiz-offer-form1">
                                        <input type="email" placeholder="Your Email" id="email1" name="email1" required="required">
                                        <button type="submit" class="edy-search-btn edy-round-btn"> <i class="feather-arrow-right text-dark"></i> </button> 
                                    </form>											
                                    <p class="edy-card-disclaimer pt--30">
                                        We respect your privacy and are committed to protecting your personal information. We do not ever share or sell your email or any other information to third parties.
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12">									
                                    <p class="para-40-book pl--20p pt--10p"> 	
                                        Men who use Eddie report firmer and longer-lasting erections, more confidence in bed, and greater intimacy in their relationships.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>				
            </div>
        </div>
    </div>
</section>
<!-- END - SECTION No Conditions -->

<!-- BEGIN - SECTION Meds and Conditions  -->
<section id="id_offer_conditions" class="edy-events-area edy-section-gap bg-color-tanwhite id_offer_conditions">
    <div class="container">
        <div class="row">				
            <div class="col-12">					
                <div class="container">
                    <div class="row g-5 align-items-center mb--60">
                        <div class="col-lg-12">
                            <div class="row bsg-5">										
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt_md--30 mt_sm--30 xpr--50"> 
                                    <h1 class="title-devices d-none d-sm-block">Good news.<br>Eddie is right for you.</h1>																					
                                    <p class="para-40-book"> 
                                        Over 40% of adult men experience issues with getting or maintaining an erection, due to a wide range of factors including lifestyle choices, medications, or conditions, often related to age.
                                    </p>
                                    <p class="para-40-book"> 												
                                        Your selection indicates that you’re at higher risk of having ED.
                                    </p>
                                    <p class="para-40-book"> 
                                        You:										
                                    </p>
                                    <ul id="id-about-you" class="edy-list-style-1">
                                    </ul>																			
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12">										
                                    <div class="edy-card variation-01 edy-hover">
                                        <div class="edy-card-body">
                                            <div class="edy-card-top">														
                                            </div>						
                                            <h4 class="edy-card-title">
                                                We would like to offer<br>you a $20 credit. 
                                            </h4>											
                                            <p class="edy-card-text mt--60">
                                                Use it toward the purchase of an Eddie device, a wearable FDA class II medical device for the treatment of ED.
                                            </p>
                                            <p class="edy-card-text">
                                                To receive it, simply enter your email address below.
                                            </p>
                                            <div id="ID_ERROR_MSGBOX2" class="alert alert-danger" role="alert" style="display:none;">
                                                <strong>ERROR: </strong> 
                                            </div>												
                                            <div id="ID_OK_MSGBOX2" class="alert alert-success" role="alert" style="display:none;">
                                                <strong>SUCCESS: </strong> 
                                            </div>			
                                            <label id="email-error" class="error" for="email" style="display: none;"></label>		
                                            <div class="edy-card-bottom">
                                                <div class="text-bottom-8-20">
                                                    <form action="#" class="edy-search-style-dk me-0" id="quiz-offer-form2" name="quiz-offer-form2">
                                                        <input type="email" placeholder="Your Email" id="email2" name="email2" required="required">
                                                        <button type="submit" class="edy-search-btn edy-round-btn"> <i class="feather-arrow-right text-dark"></i> </button> 
                                                    </form>
                                                </div>
                                                <p class="edy-card-disclaimer text-bottom-8">
                                                    We respect your privacy and are committed to protecting your personal information. We do not ever share or sell your email or any other information to third parties.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>					
            </div>
        </div>
    </div>
</section>
<!-- END - SECTION Meds and Conditions -->

{% schema %}
  {
    "name": "Quiz Response Content",
    "settings": [],
    "presets": [{
      "name": "Quiz Response Page",
      "category": "Quiz"
    }]
  }
{% endschema %}