{% schema %}
{
  "name": "Custom Thank You Page",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "support_email",
      "label": "Support Email",
      "default": "support@withflex.com"
    }
  ],
  "presets": [
    {
      "name": "Thank You Page"
    }
  ]
}
{% endschema %}

<section class="container py-5">
  <div class="container-thanks row justify-content-center">
    <div class="col-md-6 text-start">
      <h1 class="text-thanks fw-medium fs-5">Thank you!</h1>
      <p class="text-p1 display-5 fw-bold">Your purchase has been completed.</p>
      <p class="text-p2">
        If you have any questions, please reach out to us at 
        <a class="text-thanks" href="mailto:{{ section.settings.support_email }}">
          {{ section.settings.support_email }}
        </a>
      </p>
    </div>
  </div>
</section>